/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background: linear-gradient(90deg, #460096 0%, #009688 100%); /* Gradient background */
    color: #fff;
    padding: 20px 0; /* Added top and bottom padding for spacing */
    text-align: center;
    border-bottom: 2px solid #fff; /* Add a white border at the bottom */
}

/* Navigation styles */
nav ul {
    list-style: none;
    margin-top: 10px; /* Add spacing between the header and navigation */
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item.active {
    font-weight: bold;
}

/* Link styles */
.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.nav-item a:hover {
    color: #ffc107; /* Change color on hover */
}

/* Header title styles */
h1 {
    font-size: 28px; /* Increase the font size for the header title */
    margin-bottom: 10px; /* Add spacing between the title and navigation */
}


main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin: 40px 0;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    font-size: 16px;
    margin: 20px 0;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.puzzle-buttons {
    text-align: center;
    margin: 40px 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 20px;
    font-size: 18px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
