* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(54, 25, 105);
    margin: 0;
    padding: 0;
    height: 180vh;

    transition: background-color 0.5s;

}


header {

    color: #fff;
    background-color: black;
    padding: 14px 0;
    text-align: center;


}


nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.nav-item {
    font-family: 'Pixelify Sans', sans-serif;

    display: inline-block;
    margin-right: 20px;
}

.nav-item.active {
    font-weight: bold;
    color: rgba(47, 255, 61, 0.845)
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: rgba(47, 255, 61, 0.845);
}




.introd {




    margin-top: -10px;
    text-align: center;
    color: #ffffffc1;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 130px;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    color: beige;
}

@keyframes effect {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}


#roticon {

    top: 50%;
    left: 50%;
    margin-top: 170px;
    height: 150px;

    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
#intro {
    height: 60vh;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.introd p {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
    font-size: 25px;
}


#puzzlesbtn {
    height: 80vh;
    display: flex;
    justify-content: grid;
    grid-template-columns: 33vw 33vw 33vw;


    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}


.puzzle-buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 40px 0;

}

.puzzle-card img {
    margin: 30px auto;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 10px;
}


.puzzle-card {


    width: 27vw;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    height: 60vh;
    transition: transform 0.3s ease;
}

#puzzle-card-1 {
    border: 1px solid #ff6b00;
}

#puzzle-card-1:hover {
    background-color: #ff6b00;
    box-shadow: 0px 0px 80px 2px #ff6b00;
}

#puzzle-card-2 {
    border: 1px solid #146cf1;
}

#puzzle-card-2:hover {
    background-color: #146cf1;
    box-shadow: 0px 0px 80px 2px #146cf1;
}

#puzzle-card-3 {
    border: 1px solid #ed52cb;
}

#puzzle-card-3:hover {
    background-color: #ed52cb;
    box-shadow: 0px 0px 80px 2px #ed52cb;
}

.puzzle-card img {
    display: none;
}

.cardp {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', sans-serif;
}

.cardp {
    display: none;
}

.puzzle-card:hover {

    transform: scale(1.05);

}

.cardh {
    font-size: 60px;
    font-family: 'Pixelify Sans', sans-serif;
    margin: 40% 5% auto;
}

.puzzle-card:hover .cardimgs {
    display: block;
}

.puzzle-card:hover .cardp {
    display: block;
}

.puzzle-card:hover .cardh {
    margin: auto;
}

.puzzle-card:hover #sudoku-button {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    opacity: 100%;
    border-color: #ffffff;
    margin-top: auto;
}

.puzzle-card:hover #crossword-button {
    background-color: rgba(254, 195, 122, 0);
    color: #ffffff;
    opacity: 100%;
    border-color: #ffffff;
    margin-top: auto;
}

.puzzle-card:hover #word-puzzle-button {
    background-color: rgba(254, 195, 122, 0);
    color: #ffffff;
    opacity: 100%;
    border-color: #ffffff;
    margin-top: auto;
}




button {
    align-self: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.11);
    opacity: 40%;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 170px;
    margin-bottom: 40%;
    margin-top: 15px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#sudoku-button {
    border-color: #ff6b00;
    color: #ff6b00;
}

#crossword-button {
    border-color: #146cf1;
    color: #146cf1;
}

#word-puzzle-button {
    border-color: #ed52cb;
    color: #ed52cb;
}

footer {
    text-align: center;
    padding: 30px;


    color: #fff;
    opacity: 70%;
    background-color: black;
}