/* Reset some default styles */


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(54, 25, 105);
  margin: 0;
  padding: 0;
  height: 180vh; /* Set a sufficient height for scrolling */
  transition: background-color 0.5s; /* Smooth transition for background color */
}

/* Header styles */
header {
    /* background: linear-gradient(90deg, #005B41 0%, #008170 52%, #008170 60%, #005B41 100%); */
    color: #fff;
    background-color: black;
    padding: 20px 0;
    text-align: center;
    
    /* border-bottom: 2px solid #000000; */
}

/* Navigation styles */
nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.nav-item {
    font-family: 'Pixelify Sans', sans-serif;

    display: inline-block;
    margin-right: 20px;
}

.nav-item.active {
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffc107;
}

/* Header title styles */


.introd {

    /* padding: 10px 30px 30px 30px; */

    /* border-radius: 50px; */
    text-align: center;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 120px;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    /* background: linear-gradient(90deg, #ff6a00, #ffcc29, #f34d87, #a80077, #005ab5, #00a2ff, #3ce7bf, #00ff00, #ff6a00); */
    /* background-size: 200% 100%;
    -webkit-background-clip: text;
    animation: effect 10s linear infinite; */
    color: beige;
}

@keyframes effect {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

    


/* Hero section styles */
/* #intro {
    height: 100vh;
    background: url('./imgs/istockphoto-1271369710-1024x1024.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
} */
#intro {
    height: 60vh;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
    position: relative;
    /* background-image: url('./imgs/img_back_index_2.jpg') ; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transition: background 1s ease-in-out; */
}
.introd p{
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
    font-size: 25px;
}

/* Main content section styles */
#puzzlesbtn {
    height: 80vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background: url('./imgs/pexels-ds-stories-9227482.jpg') center/cover no-repeat; */
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Puzzle buttons styles */
.puzzle-buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 40px 0;
    
}
.puzzle-card img {
    margin-top: 10px;
    width: 27vw;
    height: 40vh;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Adjust card styling as needed */
.puzzle-card {

    /* border: 3px solid #ddd; */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    height: 63vh;
    transition: transform 0.3s ease;
}
#puzzle-card-1{
    border: 1px solid #ff6b00;
}
#puzzle-card-1:hover{
    background-color: #ff6b00;
    box-shadow: 0px 0px 80px 2px #ff6b00;
}
#puzzle-card-2{
    border: 1px solid #146cf1;
}
#puzzle-card-2:hover{
    background-color: #146cf1;
    box-shadow: 0px 0px 80px 2px #146cf1;
}
#puzzle-card-3{
    border: 1px solid #ed52cb;
}
#puzzle-card-3:hover{
    background-color: #ed52cb;
    box-shadow: 0px 0px 80px 2px #ed52cb;
}

.puzzle-card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

.puzzle-card h2 {
    font-size: 34px;
    font-family: 'Pixelify Sans', sans-serif;
}

.puzzle-card p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', sans-serif;
}

/* button {

    background: linear-gradient(90deg, #ffae00 0%, #ff00d6 100%); Gradient color 
            -webkit-background-clip: text; /* Clip the background to the text 
            -webkit-text-fill-color: transparent;

    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
} 
*/

    button {
      align-self: center;
      margin-top: 10px;
      background-color: rgb(254, 195, 122);
      background-image: none;
      background-position: 0 90%;
      background-repeat: repeat no-repeat;
      background-size: 4px 3px;
      border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
      border-style: solid;
      border-width: 2px;
      box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
      box-sizing: border-box;
      color: #41403e;
      cursor: pointer;
      display: inline-block;
      font-family: Neucha, sans-serif;
      font-size: 1rem;
      line-height: 23px;
      outline: none;
      padding: .75rem;
      text-decoration: none;
      transition: all 235ms ease-in-out;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    button:hover {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }
    
    button:focus {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }


footer {
    text-align: center;
    padding: 30px;

        /* background: linear-gradient(90deg, #005B41 0%, #008170 52%, #008170 60%, #005B41 100%); */
    color: #fff;
    background-color: black;
}
