/* Reset some default styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background: linear-gradient(90deg, #000000 0%, #00828e 52%, #00828e 60%, #000000 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* border-bottom: 2px solid #000000; */
}

/* Navigation styles */
nav ul {
    list-style: none;
    margin-top: 10px;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item.active {
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffc107;
}

/* Header title styles */
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.introd {
    margin-top: 200px;
    padding: 10px 30px 30px 30px;
    background-color: #00000070;
    border-radius: 50px;
    text-align: center;
}

.introd h2 {
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    background: linear-gradient(90deg, #ff6a00, #ffcc29, #f34d87, #a80077, #005ab5, #00a2ff, #3ce7bf, #00ff00, #ff6a00);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    animation: effect 30s linear infinite;
    margin-bottom: 20px;
}

@keyframes effect {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

    


/* Hero section styles */
/* #intro {
    height: 100vh;
    background: url('./imgs/istockphoto-1271369710-1024x1024.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
} */
#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-image: url('./imgs/img_back_index_2.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transition: background 1s ease-in-out; */
}
.introd p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

/* Main content section styles */
#puzzlesbtn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./imgs/pexels-ds-stories-9227482.jpg') center/cover no-repeat;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Puzzle buttons styles */
.puzzle-buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 40px 0;
    
}
.puzzle-card img {
    margin-top: 10px;
    width: 27vw;
    height: 40vh;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Adjust card styling as needed */
.puzzle-card {
    background-color: #1f1f1fa7;
    /* border: 3px solid #ddd; */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;

    transition: transform 0.3s ease;
}
.puzzle-card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

.puzzle-card h2 {
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.puzzle-card p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* button {

    background: linear-gradient(90deg, #ffae00 0%, #ff00d6 100%); Gradient color 
            -webkit-background-clip: text; /* Clip the background to the text 
            -webkit-text-fill-color: transparent;

    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
} 
*/

    button {
      align-self: center;
      margin-top: 10px;
      background-color: rgb(254, 195, 122);
      background-image: none;
      background-position: 0 90%;
      background-repeat: repeat no-repeat;
      background-size: 4px 3px;
      border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
      border-style: solid;
      border-width: 2px;
      box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
      box-sizing: border-box;
      color: #41403e;
      cursor: pointer;
      display: inline-block;
      font-family: Neucha, sans-serif;
      font-size: 1rem;
      line-height: 23px;
      outline: none;
      padding: .75rem;
      text-decoration: none;
      transition: all 235ms ease-in-out;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    button:hover {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }
    
    button:focus {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }


footer {
    text-align: center;
    padding: 30px;
    background: linear-gradient(90deg, #000000 0%, #00828e 52%, #00828e 60%, #000000 100%);
    color: #fff;
}
