body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

}


header {
  background: linear-gradient(90deg, #ff6b00, #271102);

  color: #fff;
  padding: 15px;

  text-align: center;
  border-bottom: 1px solid #ff6b00;

  box-shadow: 0px 0px 40px 1px #ff6b00;
}


nav ul {
  margin-top: 10px;

  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.nav-item {
  font-family: 'Pixelify Sans', sans-serif;

  display: inline-block;
}

.nav-item.active {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.845)
}


.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;

}

.nav-item a:hover {
  color: black;

}


h1 {
  font-size: 28px;

  margin-bottom: 10px;

}


main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 90px);
}

body {
  background: rgb(0, 0, 0);
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 7px dashed #ffffff2c;
}

form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff3e;
  font-family: 'Comfortaa', sans-serif;

}

form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}


form button {
  font-family: 'Pixelify Sans', sans-serif;

  font-size: 16px;

  color: #fff;
  background: #ff6b00;
  border: none;
  width: 138px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #ff6b00;

  opacity: 70%;
  transition: transform 0.2s ease, background-color 0.2s ease;
  outline: none;
  cursor: pointer;
}

#upload-button i {
  color: #ffffff;

}


form button:hover {
  box-shadow: 0px 0px 60px 1px #ff6b00;
  transform: translateY(-2px);

  opacity: 100%;
}

form button:active {
  transform: translateY(2px);

}

form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.buttons_form {
  margin-top: 30px;
  display: grid;
  /* grid-template-columns: repeat(2, 250px); */
  grid-template-columns: repeat(3, 171px);
  justify-items: center;
}

form input.dragover {
  background-color: #009688;
  color: #b20808;
}

#save-cropped-image {
  font-family: 'Pixelify Sans', sans-serif;

  font-size: 16px;

  color: #fff;
  background: #ff6b00;
  border: none;
  width: 188px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #ff6b00;


  transition: transform 0.2s ease, background-color 0.2s ease;
  outline: none;
  cursor: pointer;
  margin-top: 50px;

}

#save-cropped-image:hover {
  box-shadow: 0px 0px 60px 1px #ff6b00;
  transform: translateY(-2px);

}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 60px 1px #ff6b00;
  overflow: scroll;
}

.modal-content {
  text-align: center;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 80%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.modal.hidden {
  display: none;
}



footer {
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg, #ff6b00, #271102);

  border-top: 1px solid #ff6b00;

  color: rgba(255, 255, 255, 0.788);
  font-family: 'Comfortaa', sans-serif;

}